#row-text{
	display: flex;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}
#row-text p {
	text-align: center;
	font-family: 'QuickSand';
	color: #656369;
	margin-bottom:10px;
	font-size: 12px;
}
#row-footer{
	display: flex;
	justify-content: center;
	margin-top: 0px;
}
#row-footer p {
	font-weight: bold;
	font-family: 'ITC-Black';
	color: #414042;
	margin-right: 10px;
	margin-top:5px;
	letter-spacing: 2px;
}