#container{
	display: flex;
	justify-content: space-between;
}
#row-logo{
	display: flex;
	flex-direction: row;
	padding-left: 70px;
	align-items: center;
}
#row-text-header{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-right: 30px;
}
#header-title{
	font-family: "ITC-Black";
	font-size: 17px;
	color: #656369;
}
#header-text1{
	font-family: "ITC-Bold";
	color: #3F3E42;
	margin-bottom: 0px;
	font-size: 10px;
}
#header-text2{
	font-family: "ITC-Black";
	color: #656369;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10px;
}
#header-text3{ 
	font-family: "ITC-Bold";
	color: #4F6884;
	margin-top: 0px;
	font-size: 10px;
}