#background-row{
	background-color: #F1FAFC;
	margin-top:0px;
	padding: 50px 80px 0px 80px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
#home-text-row {
	align-content: flex-end;
}
#home-title{
	font-family: "ITC-Black";
	font-size: 30px;
	color: #656369;
	margin-bottom: 0px
}
#home-text1{
	font-family: "ITC-Bold";
	color: #3F3E42;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#home-text2{
	font-family: "ITC-Black";
	color: #656369;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom:20px
}
#home-text3{ 
	font-family: "ITC-Bold";
	color: #4F6884;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom:0px
}
#home-text4{ 
	font-family: "QuickSand";
	color: #4F6884;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom:0px
}
#register-btn{
	background-color: #4F6884;
	border : none;
	color: white;
	font-family: "DINPro-Regular";
	font-size: 20px;
	padding: 5px 50px 5px 50px;
	margin: 20px 0px 20px 65px;
}
#home-card-row {
	display:flex;
	flex-direction: row;
	margin-left: -30px;
}
.home-card{
	display:flex;
	flex-direction: column;
	align-items: center;
}
.card-title{
	font-family: "DINPro-Medium"; 
	color: #656369;
	font-size: 10px;
}
.card-subtitle{
	font-family: "DINPro-Light";
	color: #77757a;
	font-size: 10px;
	text-align: center;
}