#program-background {
	background-color: #F1FAFC;
	margin: 30px 50px 30px 50px;
	display:flex;
	flex-direction: column;
	align-items:center;
}
#table{
	display :flex;
	flex-direction: column;
	width: 620px;
	padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 30px;
}
#head-table{
	display:flex;
}
#div-title{
	background-color: #4F6884;
	padding: 10px 0px 5px 20px;
	width: 100%;
}
#program-title{
	font-family: "ITC-Black";
	color: white;
	font-size:20px;
	margin-left: 20px
}
.program-text-ul{
	display: inline;
	margin-inline-start: 20px;
}
.program-text-ul li{
	font-family: "ITC-Black";
	color: #656369;
	font-size: 13px;
	list-style-type: none;
	letter-spacing: 0.5px;
	margin-left: 10px
}
.tr-text td{
	color: white;
	font-size: 13px;
	font-family: "QuickSand";
	text-align: center;
	white-space: nowrap;
    width: 1%;
}
.tr-sub-text td {
	color: #3F3E42;
	font-size: 13px;
	font-family: "QuickSand";
	text-align: center;
}

