#list{
	display:flex;
	flex-direction:row;
	align-items: flex-start;
	padding-left: 50px;
	list-style-type: none;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin-bottom:0px
}
#list li { 
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.list-items {
	font-family: "DINPro-Light";
	color: #656369;
	text-decoration: none;
}
.list-items:focus{
	border-bottom: 2px solid #4F6884
}
